
h1,h2,h3,h4,ul,li,a,p{
	margin: 0;
	padding: 0;
	font-family: "Arial";
}
ul{
	list-style-type: none;
}
a{
	text-decoration: none;
}
a,a:focus, a:hover{
    text-decoration: none;
}


/*header*/
.logo{
	width: 112px;
	height: 40px;
	background-image:url(../images/logo.png) ;
	display: block;
	margin:15px 0;
}
.topStrip{
	background-color: #19232d;
	font-size: 12px;
}

.sitLinkList  li{
	float: left;
	margin-left: 20px;
}
.sitLinkList a{
	color:#627588;
	padding: 10px;
	display: block;
}
.sitLinkList a:hover{
	background-color: #121212;
	color: #ffffff;
}

.signupList li{
	float: left;
}
.signupList a{
	color: #ffffff;
	display: block;
	padding: 10px;
}
.menu{
	background-color: #ffffff;
	margin: 0;
}
.menuList,.menuList li{
	border-right: 1px solid;
	border-color: #dbdbdb;	
}
.menuList li{
	border-left: 1px solid;
	border-color: #dbdbdb;
}
.navbar-default .menuList li a{
	color: #19232d;
	padding: 25px 10px;
	font-size: 16px;
}

.menu .menuList li a:hover{
	background-color: #eeeeee;
}
.panel-group .panel-heading+.panel-collapse>.list-group, .panel-group .panel-heading+.panel-collapse>.panel-body,.panel{
	border:none;
}
.panel-group .panel+.panel {
	margin: 0;
}
.panel-body{
	padding: 0;
}
 
/*banner*/
.banner{
	padding-top: 115px ;
	background: url(../images/bannerBasketball.jpg) no-repeat;
	background-size: cover;
	height: 600px;
}
.bannerText{
	color: #ffffff;
	max-width: 432px;
}
h1,.bannerText h2,.standardHead{
	font-size: 36px;
}
.panel-title .heading,.heading{
	font-size: 28px;
	color: #cd091d;
}
.panel-heading{
	display: none;
}
.bannerText h2{
	margin-bottom: 15px;
	color: #ffffff;
}
.bannerText h3{
	margin-bottom: 30px;
	color: #ffffff;
}
.bannerText p{
	font-size: 14px;
	color: #82878b;
	margin-bottom: 30px;
}
.bannerText a{
	display: inline-block;
	padding: 11px 20px;
	background-color: #004e94;
	color: #ffffff;
}
.bannerBottom{
	display: none;
	background-color: #19232d;
	padding: 40px 0 20px;
}
.bannerBottom .bannerText{
	margin: 0 auto;
}
/*statndard*/
.standardHead{
	margin-bottom: 60px;
	color: #cd091d;
}

.standard{
	padding: 70px 0 60px;
}
.leaderList li{
	margin-bottom: 40px;
}

.leaderList span{
	vertical-align: middle;
}
.socialIconList :first-child,.patnerList :first-child,.courseForm :first-child,.sitLinkList :first-child{
    margin-left: 0;
}
.imageLeader{
	height: 45px;
	width: 70px;
	display:inline-block;
	background-repeat: no-repeat;
	background-position: center;
}
.map{
	background-image: url(../images/map.png);
}
.building{
	background-image: url(../images/building.png);
}
.threeHeads{
	background-image: url(../images/threeHeads.png);
}
.leaderText{
	display:inline-block;
	width: 192px;
	margin-left: 10px;
	font-weight: bold;
	font-size: 24px;
}
.courseCount{
	font-size: 28px;
}
.number{
	color: #cd091d;
}
.countText{
	color: #82878b;
}
.patner{
	background-color: #eeeeee;
	margin-bottom: 40px;
	padding: 40px 0;
	overflow: hidden;
}
.patnerList{
    width: 992px;
    margin: 0 auto;
}
.patnerList li{
	display: inline-block;
	margin-left: 40px;
	opacity: 0.651;
	vertical-align: middle;
}
.ncaaEligiblityCenter{
	width: 90px;
	height: 45px;
}
.usaTrackField{
	width: 49px;
	height: 61px;
}
.usaFootball{
	width: 103px;
	height: 41px;
}
.usaBaseball{
	width: 76px;
	height: 40px;
}
.cdc{
	width: 65px;
	height: 48px;
}
.asaSoftball{
	width: 60px;
	height: 66px;
}
.pgaAmerica{
	width: 52px;
	height: 48px;
}
.urlsLacrosse{
	width: 58px;
	height: 64px;
}

img{
	width: 100%;
	height: 100%;
}
.adJoin{
	max-width: 610px;
	height: 77px;
	margin: 0 auto 50px;
}
.findCourse{
	background-image: url(../images/findCourse.jpg);
	padding: 40px 0;
	margin-bottom: 50px;
}
h1{
	color: #ffffff;
	font-weight: bold;
	margin-bottom: 35px;
}
.courseForm{
	border: none;
} 
.courseFormList select{
	border-radius: 6px;
	height: 36px;
	width: 248px;
	border: none;
	color: #82878b;
	font-size: 14px;
}
.courseFormList li{
	float: left;
	margin-left: 20px;
}
.courseFormList option:first-child{
	display: none;
}
.courseFormList {
	float: left;
}
.search{
	background-color: #004e94;
	width: 130px;
	height: 36px;
	border-radius: 4px;
	border:1px solid #222222;
	margin-left: 20px;
	color: #ffffff;
	float: left;
}
.coreCourseList{
	margin-bottom: 80px;
}
.coreCourseList li{
	height: 290px;
	position: relative;
}

.coreCourseImageText{
	background-color: #36414a;
	position: absolute;
	bottom: 0;
	left: 15px;
	right: 15px;
	padding:15px 0;
}
	
.coreCourseImageText h4{
	font-size: 18px;
	color: #ffffff;
}
.coreCourseImageText p{
	font-size: 12px;
	color: #aaaaaa;
}

 .viewAll a{
	color: #19232d;
	font-size: 12px;
	line-height: 32px;
	text-decoration: underline;
}
.viewAll h3{
	margin-left: 35%;
	float: left;
}
/* sport specific course*/
.sportSpecificHover{
	display: none;
	position: absolute;
	background-color: #363e4a;
  	opacity: 0.902;
  	top: 0;
  	left: 15px;
  	right: 15px;
  	height: 100%;
}
.iconList{
	position: absolute;
	bottom: 15px;
}
.iconList li{
	float: left;
	margin-left: 20px;
}
.iconList a{
	display: inline-block;
	height: 20px;
	width: 23px;
	background-position: center;
	background-repeat: no-repeat;
}
.mailIcon{
	background-image: url(../images/mailIcon.png);
}
	
.linkedinIcon{
	background-image: url(../images/linkedinIcon.png);
}

.facebookIcon{
	background-image: url(../images/facebookIcon.png);

}
.twitterIcon{
	background-image: url(../images/twitterIcon.png);
}
.googleIcon{
	background-image: url(../images/googleIcon.png);
}
.sportSpecificHover >a{
	display: inline-block;
	color: #444444;
	font-size: 16px;
	background-color: #ffffff;
	border-radius: 6px;
	padding: 10px;
    margin: 59px 0;
}
.sportSpecificHover  p{
	color: #ffffff;
    font-size: 16px;
    text-align: center;
    padding: 25px 0;
}
.sportSpecificList li:hover .sportSpecificHover {
	display: block;
}
.sportSpecificList> li{
	position: relative;
	margin-bottom: 40px;
}
.sportSpecificImage{	
	height: 160px;
}
.sportSpecificList li> p{
	font-size: 16px;
	color: #000000;
	background-color: #eeeeee;
	padding: 25px 0;
}
.boldText{
	font-weight: bold;
}
.sportSpecificPrize{
	background-color: #364a59;
}
.money{
	background-color: #19232d;
	display: inline-block;
	font-size: 17px;
	padding: 15px;
	color: #ffffff;
}
.completions{
	display: inline-block;
	font-size: 12px;
	padding: 18px 14px;
	color: #82878b;
}
.adWeAllWin{
	margin: 0 auto 40px;
	max-width: 609px;
	height:77px;
}
.footerLink{
	background-color: #19232d;
	padding-top: 40px ;
}
.footerListOfList >li{
	float: left;
	border-left: 1px solid;
	border-color: #243340;
	min-height: 240px;
	padding: 0 25px;
	width: 160px;
}
.footerListOfList{
	margin-bottom: 20px;
	float: left;
}

.footerListOfList :first-child{
	border: none;
}
.footerLinkList {
	margin-top: 15px;
}
.footerLinkList li{
	margin-bottom: 15px;
}
.footerListOfList{
	font-size: 13px;
}	
.footerListOfList a{	
	color: #ffffff;	
}
.footerLinkList a {
	color: #3f5061;
}

.footerListOfList .clear{
	border: none;
	min-height: 0;
}
.tweet{
	background-color: #31475a;
	padding: 20px;
	color: #ffffff;
	margin-bottom: 20px;
}
.tweet .latest{
	font-size: 14px;
	margin-bottom: 10px;
}
.tweet p{
	font-size: 12px;
	margin-bottom: 10px;
}
.tweet a{
	color: #ffffff;
}
.socialIconList li{
	display: inline-block;
	margin-left: 20px;
}
.socialIconList a{
	height: 30px;
	width: 40px;
	background-position: center;
	background-repeat: no-repeat;
	display: inline-block;
}
.facebookIconFooter{
	background-image: url(../images/facebookIconFooter.png);
}
.twitterIconFooter{
	background-image: url(../images/twitterIconFooter.png);
}
.youtubeIconFooter{
	background-image: url(../images/youtubeIconFooter.png);
}
.copyright{
	background-color: #000000;
	color: #3f5061;
	font-size: 12px;
	text-align: center;
	padding: 10px 0;
}
.social {
	float: right;
}
.desktopHeading{
	margin-bottom: 20px;
}
.navbar-default .navbar-toggle .icon-bar{
	background-color: #b03060;
}
.navbar-default .navbar-toggle{
	border:none;
}
.social{
		width: 300px;
		margin: 0 auto;
}

@media  (max-width: 992px){
	.social ,.footerListOfList{
		float: none;
	}
	
	.bannerBottom{
		display: block;
	}
	.banner .bannerText{
		display: none;
	}
	.footerListOfList{
		width: 640px;
		margin: 0 auto 20px;
	}
	.courseFormList li,.courseFormList{
		float: none;
		margin: 0 0 10px;
	}
	.search{
		margin: 0;
		float: none;
		width: 248px;
	}
	.viewAll h3{
		float: none;
		text-align: center;
		margin-left: 0;
	}
	.sportSpecificList li:hover .sportSpecificHover ,.viewAll a {
		display: none;
	}
	.banner{
		background-position: 100% 0;
	}
	.standard{
		padding: 35px 0;
	}
	.standardHead{
		font-size: 24px;
		margin-bottom: 45px;
	}
	.leaderText{
		font-size: 18px;
	}
	.number{
		font-size: 24px;
	}
	.countText{
		font-size: 20px;
	}
	.patner,.adJoin{
		margin-bottom: 0;
	}
	h1{
		font-size: 24px;
		margin-bottom: 25px;
	}
	.panel-title .heading, .heading{
		font-size: 24px;
	}
	.desktopHeading {
    margin-bottom: 30px;
	}
	.coreCourseImageText h4 {
		font-size: 17px;
	}
	.coreCourseList{
		margin-bottom: 50px;
	}
	.footerListOfList a{
		font-size: 12px;
	}

}
@media (max-width: 768px) { 
 	.sitLinkList{
 		display: none;
 	}
 	.countText{
 		display: block;
 	}
 	.footerListOfList >li{
		border:none;
	}
	.footerListOfList{
		width: 320px;
	}
	.desktopHeading{
		display: none;
	}
	.panel-heading{
		display: block;
	}
	.coreCourseList :first-child{
		margin-bottom: 15px;
	}
	.navbar-default .menuList li a{
	 padding: 10px 0px 10px 0px;
	}
	.menuList {
	background: #f3f3f3;
    text-align: center;
    border-top: 1px solid #ddd;
}
	}
 }