.clear{
	clear: both;
}
.clearList{ /*for list*/
	list-style-type: none;
}
.container{
	width: 940px;
	margin:0 auto;
}
body{
	margin: 0;
	padding: 0;
}
header{
	background-color: black;
}
.logo{ /*in header*/
	float: left;
	background-color:#ff8000;
	width: 140px;
	height: 35px;
	margin:7px 0;
}
.logo a{
	display: block;
	height: 35px;
}
.headerNavigation{
	float: left;
	margin: 15px auto;
}
.headerNavigation .listingHeader {	
	float: left;
	margin-left: 20px;
	list-style-type: none;
}
.listingHeader a{
	text-decoration: none;
	color:#aaaaaa;
	font-size: 18px;
}
.banner{
	height: 485px;
	background-color: #71c4ea;
	margin-bottom: 64px;
}
.heading{      /*for <h1>*/
	font-size: 36px;
	color: #444444;
	text-align: center;
	margin-bottom: 70px;
}
.listingArt{
	margin-bottom: 110px;
}
.listingArt .artList{
	float: left;
	width: 140px;
	text-align: center;
	margin-right: 75px;
	list-style-type: none;
}
.artList a{
	display: block;
	text-decoration: none;
	color: #888888;
	font-size: 18px;
}
.artList a:hover{
	color: #000;
}
.circle{
	display: block;
	background: #efefef;
    width: 140px;
    height: 140px;
    border-radius: 50%;
    margin: 0 auto; /*circle always in center*/
}
.footerNavigation { 
	width:400px;/*width for linine element*/
	margin: 0 auto;/*for center*/
}
.footerNavigation .listingFooter{
	float: left;
	margin-right: 20px;
	list-style-type: none;
}
.listingFooter a{
	text-decoration: none;
	color: #FF8000;
	font-size: 16px;
}
.listingFooter a:hover{
	color: #444444;
}
footer{
	background-color: #ececec;
	padding:10px 0;
}